/*******************************************************************
# RESET
*******************************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  list-style-type: none;
  text-decoration: none;

  /* FONT */
  font-family: "Roboto condensed", sans-serif;
}

button {
  all: unset;
}

input {
  all: unset;
}

a:-webkit-any-link {
  color: var(--color-primary);
}



/*******************************************************************
# CUSTOM PROPERTIES
*******************************************************************/

:root {
  /* SPACE UNIT */
  --space-05: 0.5rem;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-4: 4rem;

  /* PALETTE */
  --color-1: rgb(48, 48, 48);
  --color-2: rgb(97, 97, 97);
  --color-3: rgb(151, 151, 151);
  --color-4: rgb(255, 255, 255);
  --color-5: rgb(0, 35, 189);
  --color-6: rgb(211, 0, 0);

  --bg-dark: rgb(48, 48, 48);
  ;
  --bg-light-gray: rgb(236, 236, 236);

  --color-hover: rgb(133, 255, 108);
}



/*******************************************************************
# UTILITY
*******************************************************************/

body {
  color: var(--color-1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  width: 80vw;
  max-width: 1200px;
  padding: var(--space-2);
  margin: auto;
}

h1 {
  margin-bottom: var(--space-2);
}



/*******************************************************************
# NAVBAR
*******************************************************************/

header {
  display: flex;
  justify-content: center;
  background-color: var(--bg-dark);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--space-2);
  width: 80vw;
  max-width: 1200px;
}

.navbarLinks {
  display: flex;
  gap: var(--space-1)
}

.navbar .navlink {
  color: var(--color-4);
}



/*******************************************************************
# SEARCH FILTERS
*******************************************************************/

.filtersContainer {
  margin-bottom: var(--space-2);
  display: flex;
  justify-content: start;
  gap: var(--space-2);
  padding-bottom: var(--space-2);
  border-bottom: 2px solid var(--color-3);
  margin-bottom: var(--space-2);
}

.searchbar {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  padding: var(--space-05) 1.3rem;
  padding-right: var(--space-05);
  border-radius: 35px;
  border: 2px solid var(--color-5);
}

.searchbarInput {
  min-width: 85%;
}

.roundButton {
  color: var(--color-2);
  font-weight: bold;
  border-radius: 100%;
  background-color: rgb(214, 214, 214);
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  padding-top: 4px;
}

.roundButton:hover {
  cursor: pointer;
  color: white;
  background-color: var(--color-6);
}

.selectContainer {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  padding: var(--space-05) 1.3rem;
  padding-right: var(--space-05);
  border-radius: 35px;
  border: 2px solid var(--color-1);
}

.select {
  cursor: pointer;
  flex-grow: 1;
  appearance: none;
  font-size: 1rem;
  border: none;
}

.select:focus {
  outline: none;
  border: none;
}



/*******************************************************************
# SORT SECTION
*******************************************************************/

.sortSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin-bottom: var(--space-2);
}

.sortButtonsContainer {
  display: flex;
  align-items: center;
  gap: var(--space-1)
}

.sortButton {
  cursor: pointer;
  text-align: center;
  color: var(--color-4);
  width: 100px;
  padding: .3rem 1rem;
  border-radius: 35px;
  background-color: var(--color-5);
}



/*******************************************************************
# PRODUCT CARDS
*******************************************************************/

.cardList {
  display: flex;
  flex-direction: column;
  gap: var(--space-1)
}

.card {
  background-color: var(--bg-light-gray);
  padding: var(--space-1);
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  border-top-right-radius: 0;
  cursor: pointer;
}

.infoSection {
  display: flex;
  gap: var(--space-1);
  align-items: center;
}

.pCategory {
  color: var(--color-4);
  font-weight: normal;
  text-align: center;
  padding: 0.15rem 0.5rem;
  min-width: 120px;
  max-width: 200px;
  background-color: var(--color-2);
  border-radius: 35px;
}

.pBrand {
  color: var(--color-5);
}

.notAvailable {
  color: var(--color-6);
}

.favoriteButton:hover {
  color: var(--color-6);
}



/*******************************************************************
# DETAILS
*******************************************************************/

.detailsSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.detailsSection h2 {
  color: var(--color-5);
  font-weight: normal;
  font-size: 1.2rem;
}

.productInfo {
  display: flex;
  gap: var(--space-1);
}



/*******************************************************************
# FOOTER
*******************************************************************/

footer {
  color: var(--color-3);
  font-size: 0.8rem;
  padding: var(--space-1);
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
}



/*******************************************************************
# DEBUG
*******************************************************************/

.debug {
  padding: 10px;
  background-color: aquamarine;
  border: 1px solid blue;
}