/*******************************************************************
# RESET
*******************************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
  list-style-type: none;
  text-decoration: none;

  /* FONT */
  font-family: "Roboto", sans-serif;
}

/* button {
  all: unset;
}

a:-webkit-any-link {
  color: var(--color-primary);
} */



/*******************************************************************
# UTILITY
*******************************************************************/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  width: 80vw;
  max-width: 1200px;
  padding: 2rem;
  margin: auto;

  /* DEBUG */
  background-color: rgb(238, 238, 238);
}

/* .hidden {
  display: none;
} */



/*******************************************************************
# DEBUG
*******************************************************************/

.debug {
  padding: 10px;
  background-color: aquamarine;
  border: 1px solid blue;
}